@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
  overflow-x: hidden;
}

nav, header {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-weight: 700;
}
h2 ,h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  /* color: #e41e26; */
  font-weight: 700;
}

p, span, div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7; 
}

header span,
header a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.9rem;
}
header .giving-btn {
   color: #fff;
}

header a {
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

header a:hover {
  color: #1e5254; /* optional red hover tone */
}

@media (min-width: 992px) {
  header span {
    font-size: 60px;
  }
}
